@charset "UTF-8";

@font-face{
    font-family: 'Android';
    src: url('/curso-em-video-estudos/html5-css3/2-modulo/desafios/d010/pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
}   

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor4);
}

header > p {
    color: white;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
}

nav{
    background-color: var(--cor5);
}

main{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.536);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

main h1, h2{
    color: var(--cor5);
    font-family: 'Android';
}

main img{
    width: 100%;
}

.img-pequena{
    width: 50%;
    display: block;
    margin: auto;
}

footer{
    background-color: var(--cor5);
    color: white;
}