@charset "UTF-8";

body {
  background-color: aliceblue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1 {
  color: darkblue;
  background-color: aqua;
}

h2 {
  color: cornflowerblue;
  background-color: aqua;
}

p {
  text-align: justify;
}
