@charset "UTF-8";

*{
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #8C735D, #BFA58E, #8C735D);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #070d0b62;
}

h1{
    color: #403d30;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.397);
}

h2{
    color: #8C4332;
}

p{
    text-align: justify;
}